# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebooks
.ipynb_checkpoints

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/

# Project Specific
# Ignore datasets as they can be large and are often managed separately
datasets/

# Ignore binary models to keep the repo light
models/*.kpck
models/*.pck
models/*.bin

# Distribution / Packaging
dist/
build/
*.egg-info/
